<h1>My CD Collection</h1>
<br />

<h3>Search your collection:</h3>
<form action="/cd_results" method="get">
  <label for="search_term">Search:</label>
  <input id="search_term" name="search_term" type="text">
  <button type="submit" class="btn btn-success">Find it!</button>
</form>
<br />


<br />

<h3>Input a new CD:</h3>
<form action="/cd_post" method="post">
  <label for="artist">Artist:</label>
  <input id="artist" name="artist" type="text">

  <label for="album">Album title:</label>
  <input id="album" name="album" type="text">


  <button type="submit" class="btn btn-success">Add to my list</button>
</form>
<br />

<h3>List of my CDs:</h3>
<br />

<ol>
  <% @list.each() do |cd| %>
  <li><a href="/cd_select/<%= cd.id() %>"><%= cd.artist() %>, <%= cd.album %></a></li>
  <% end %>
</ol>
