<h3>Here are you search results</h3>
<br />

<ul>
  <% @search_results.search() do |found_cd| %>
    <% found_cd.each() do %>
  <li><a href="/cd_select/<%= cd.id() %>"><%= found_cd.artist() %>, <%= found_cd.album %></a></li>

    <% end %>
  <% end %>
</ul>
