<h3>Here are you search results</h3>
<br />

<ul>
  <% @search_results.each() do |found_cd| %>

  <li><a href="/cd_select/<%= found_cd.id() %>"><%= found_cd.artist() %>, <%= found_cd.album %></a></li>


  <% end %>
</ul>
